Flow2.json
[{"id":"6c69776b.3ddcb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"51d21cb8.656cc4","type":"http in","z":"6c69776b.3ddcb8","name":"","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":210,"y":360,"wires":[["d3de4fdc.f6974","f66a7fef.7892"]]},{"id":"d3de4fdc.f6974","type":"function","z":"6c69776b.3ddcb8","name":"Set to 1","func":"mag.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["bd78a87f.2bfb98"]]},{"id":"bd78a87f.2bfb98","type":"rpi-gpio out","z":"6c69776b.3ddcb8","name":"","pin":"7","set":false,"level":"1","freq":"","out":"out","x":690,"y":420,"wires":[]},{"id":"e5d5c4d8.175c48","type":"http response","z":"6c69776b.3ddcb8","name":"","statusCode":"","headers":{},"x":990,"y":300,"wires":[]},{"id":"6a73db7a.8118f4","type":"debug","z":"6c69776b.3ddcb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":440,"wires":[]},{"id":"f66a7fef.7892","type":"function","z":"6c69776b.3ddcb8","name":"rt HIGH status","func":"msg.payload = \"GPIO HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["e5d5c4d8.175c48","6a73db7a.8118f4"]]},{"id":"3b2ea7c8.9ad028","type":"http in","z":"6c69776b.3ddcb8","name":"clear","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":240,"y":540,"wires":[["dd5bdff.d54fc2","cf4bfca5.d1d9f"]]},{"id":"dd5bdff.d54fc2","type":"function","z":"6c69776b.3ddcb8","name":"clear to 0","func":"msg.payload = 0 ;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":540,"wires":[["bd78a87f.2bfb98"]]},{"id":"cf4bfca5.d1d9f","type":"function","z":"6c69776b.3ddcb8","name":"rt LOW status","func":"msg.payload = \"GPIO LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":600,"wires":[["e5d5c4d8.175c48","6a73db7a.8118f4"]]}]